*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.wrap p{
/*  font-size: 18px;*/
}

.wrap{
  max-width: 3000px;
  width: 90%;
  margin: auto;
}

.wrap h1{
  color: #494b4d;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px 0px;
}

.wrap h1:after{
  content: '';
  width: 100%;
  height: 1px;
  background: #c7c7c7;
  margin: 0px 0;
}

.wrap a{
  font-size: 100%;
}

.store-wrapper{
  display: flex;
}

.category_list{
  display: flex;
  flex-direction: column;
  width: 18%;

}

.category_list .category_item{
  display: block;
  width: 90%;
  padding: 15px 0;
  margin-bottom: 20px;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  font-family: 'Fira Sans Condensed', sans-serif;
  text-align: center;
  text-decoration: none;
  color: #000;

}

.category_list .ct_item-active{
  background-color: rgba(80, 232, 235, 0.6); /*#7A991A;  cambia color de fondo a el bloque con el puntero */
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,25);
}


/*Products_____________________________________________*/

.products-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.products-list .products-item{
  width: 23.5%;
  margin-left: 1.5%;
  margin-bottom: 25px;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  }

.products-list .products-item img{
  width: 100%;

}

.products-item img{
  width: 100%;
  height: 270px;
}

.products-list .products-item a{
  display: block;
  width: 100%;
  padding: 8px 0;
  /*background: #63f2e9;*/
  color: #000;
  text-align: center;
  text-decoration: none;
}


.slider{

  width: 95%;
  margin: auto;
  overflow: hidden;
}
.slider ul{
  display: flex;
  padding: 0;
  width: 400%;
  margin-top: 4.1%;

  animation: cambio 20s infinite;
  animation-direction:
}

.slider li{
  list-style: none;
}

.slider img{
  width: 100%;
  margin-right: 20px;
}


@keyframes cambio {
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}


.slider2{

  width: 15.5%;
  height: 15%;
  margin: auto;
  margin-bottom: none;
  overflow: hidden;
}

.slider2 ul{
  display: flex;
  padding: 0;
  width: 400%;
  margin-top: 4.1%;
  animation: cambio 20s infinite;
  animation-direction:
}

.slider2 li{
  list-style: none;
}

.slider2 img{
  width: 100%;
  height: auto;
  margin-right: 0px;
}

@keyframes cambio2 {
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}



img{
  width: 100%;
}

body{

    font-family: 'Fira Sans Condensed', sans-serif;
}

.content{
  background-image: url("img/2348128.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  position: relative;
  opacity: 0;
}

.copyright{
  background: rgba(0, 0, 0, 0.8);
  max-width: 1800px;
  width: 100%;
  height: 300px;
  display: flex;
  list-style: none;
}

.copyright nav{
  display: flex;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-top: 4%;
}

.contenedor-copyright{
  width: 100%;
  height: 100%;
}

.copyright nav ul li a{
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-align: left;
  margin-left: 20%;
}

.contenedor-copyright nav ul li a{
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-align: left;

}

.contenedor-info{

  width: 100%;
  height: 100%;
}

.contenedor-info nav ul li a{
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-align: left;

}

.contenedor-redes{

  width: 100%;
  height: 100%;
}

.contenedor-redes nav ul li a{
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-align: left;

}

h4{
  color: #000;
  padding-top: 3%;
  font-size: 12px;
    background: rgba(0, 0, 0, 0.8);
}

h5{
  color: #000;
  font-size: 10px;
    background: rgba(0, 0, 0, 0.8);
}

.finalCopy{
    background: rgba(0, 0, 0, 0.8);
}

.datos{
margin-bottom: 3%;
margin-left: 3%;
}

.datos img{
  width: 30%;
  height: auto;
margin-bottom: 2%;

}

.datos2{
margin-bottom: 3%;
margin-left: 3%;
}

.datos img{
margin-bottom: 2%;

}

}
